.header{
    background-color: #090a0a;
    color: rgba(255, 255, 255, 0.747);
    height: 120vh;
    font-family: monospace;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    font-size: 3vh ;
    font-stretch: expanded ;
    height: 100vh;
    
}


.site-header {
    font-family: Source Sans Pro;
    font-size: 3vh ;
    font-stretch: expanded ;
    background-color: #080808;
    color:#707575;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}


.site-header-content {
     
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    align-self: center;
    box-shadow: #0a8269 2px 5px 5px;
}


body {
    margin: 0;
}

.fa {
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.7;
  }


  .fa-instagram {
    background: rgb(16, 179, 11);
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }


.fa {
    padding: 20px;
    font-size: 10px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  } 


.Portfolio {
    color: dodgerblue;
}

.Portfolio:hover {
    background: #2196F3;
    color: white;
}