.site-header{
    background-color: aqua;
    color: blue;
    font-family: mononspace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items : center;

}
.site-header-content {
    margin: 10px;
}

.profile-pic {
    border-radius: 50%;
    image-resolution:20;
    height: 20vh;
    width: 20vh;
    align-self:centre;
}

body {
    margin: 0%
}
